<div class="analytics">
	<md-card class="content" layout="column">
		<div class="center-vertical-parent">
			<h2 class="center-vertical center-horizontal" style="height:10vh">{{ ctrl.titlePending }}</h2>
		</div>
		<div ng-class="{'remove': ctrl.pending.length > 0}" class="center-vertical-parent center-horizontal" style="height:78vh">
			<span><b>No Pending Transactions</b></span>
		</div>
		<div ng-class="{'remove': ctrl.pending.length < 1}" style="height:68vh" layout="column">
			<div class="center-horizontal">
				<div layout-gt-md="row" layout="column" class="center-vertical-parent header-details-wrapper">
					<div class="center-vertical md-margin"><b>Total Fees:</b> ${{ ctrl.totalUtility }}</div>
					<div class="center-vertical md-margin"><b>Total Purchases:</b> ${{ ctrl.totalCost }}</div>
					<div class="center-vertical md-margin"><b>Total Cost:</b> ${{ ctrl.totalUtility + ctrl.totalCost }}</div>
				</div>
				<div class='time-to center-horizontal header-timer-wrapper'>
					<div><b>Next Purchase In: </b><se-timer date='{{ ctrl.purchaseTime }}'>&nbsp;</se-timer></div>
				</div>
			</div>
			<div layout-gt-md="row" layout="column">
				<div flex="50">
					<md-subheader style="padding-left: 10px;"> Breakdown</md-subheader>
					<div id="breakdown-container" style="border: 2px solid #000; border-radius: 5px; min-width: 600px;
						height: height: 400px; max-width: 600px; margin: 0 auto"></div>
				</div>
				<div flex="50">
					<md-subheader>Ledger</md-subheader>
					<div layout="column" style="border: 2px solid #000; border-radius: 5px;overflow-y: auto; overflow-x: hidden; height: 400px; margin: 0 10px;">
						<md-card class="center-vertical-parent" ng-repeat="data in ctrl.pending" layout="row" style="min-height: 80px">
							<span flex-gt-sm="35" flex="30" class="center-vertical md-margin" style="display:block; padding-left: 10px; font-size: 14px;"><b>{{ data.name }} </b> ({{ data.sym }})</span>
							<div flex="45" class="center-vertical md-margin" layout="row" style="align-items: flex-start; font-size:12px">
								<div class="md-margin" layout="column">
									<span><b>Ask:</b> ${{ data.info.ask }}
										<span class="color" ng-class="{'green' : data.info.change > 0, 'red' : data.info.change < 0}">
											({{ data.info.change.toFixed(2) }})
										</span>
									</span>
									<span hide show-gt-md>------------</span>
									<span><b>Investing:</b> ${{ data.cost }}</span>
								</div>
								<div class="md-margin" layout="column">
									<span><b>Shares:</b> {{ (data.cost / data.info.ask).toFixed(2) }}</span>
									<span hide show-gt-md><b>BuyFee:</b> ${{ data.totalFee }}</span>
									<span><b>Total:</b> ${{ data.totalFee + data.cost }}</span>
								</div>
							</div>
							<md-button flex="10" class="background red" ng-click="modal.showConfirm($event, $index)" style="min-width: 24px; height: 18px; border: 1px solid #000;">
								<md-icon flex class="md-secondary icon ion-close" style="vertical-align: top;"></md-icon>
							</md-button>
						</md-card>
					</div>
				</div>
			</div>
		</div>
	</md-card>
</div>