<div>
	<div layout="column" class="main">
		<md-button flex class="md-raised md-cornered" ng-class="{ 'ion-android-hand' : params.casting, 'ion-android-laptop' : !params.casting }" ng-click="ctrl.toggleCast()"></md-button>
		<md-card style="height:90vh" layout="column">
			<md-slider-container style="height: 50px; width: 98%;">
				<md-slider flex min="0" max="100" ng-model="params.progress" ng-mouseup="ctrl.seekM()"></md-slider>
			</md-slider-container>
			<div layout="row">
				<md-button class="cast-play md-fab md-raised ion-skip-backward" ng-click="ctrl.prevM()"></md-button>
				<md-button class="cast-play md-fab md-raised" ng-click="ctrl.playM()" ng-class="{  'ion-pause' : params.paused, 'ion-arrow-right-b' : !params.paused }"></md-button>
				<md-button class="cast-play md-fab md-raised ion-skip-forward" ng-click="ctrl.nextM()"></md-button>
			</div>
		</md-card>
	</div>
</div>