<div>
	<div layout="column" class="main">
		<md-card style="height:90vh" layout="column">
			<h3 style="text-align: center;">{{ params.allChannels[params.channel].name }}</h3>
			<div layout="row">
				<div class="border img-wrapper" offset="10">
					<img ng-src="{{ params.selected.poster }}">
					<div ng-click="params.flipped = !params.flipped" ng-show="!params.flipped" class="show-box selectable center-vertical">
						<ng-md-icon size="52" icon="add_to_queue" class="md-margin" style="fill: white"></ng-md-icon>
					</div>
					<md-content ng-show="params.flipped"
								ng-class="{ 'show-box' : !params.flipped }" class="selectable" style="max-height: 400px;opacity: 1; background: white;">
						<md-list flex>
							<md-list-item style="background:white; height: 60px;" class="background-parent-first">
								<ng-md-icon icon="reply" class="md-margin center-vertical" style="padding-bottom: 6px;"></ng-md-icon>
								<h3 class="md-margin">Back</h3>
								<div class="selectable fade" style="background:black; opacity:0;left:0;" ng-click="params.flipped = !params.flipped"></div>
							</md-list-item>
							<md-list-item ng-repeat="show in params.allChannels[params.channel].shows" layout="row"
										  style="background:white;padding-left: 0 !important;" class="background-parent-first">
								<img flex="50" ng-src="{{ params.map[show].poster }}" class="md-avatar" style="min-width: 50px !important;
    								max-height: 50px !important; min-height: 50px !important; max-width: 50px !important;position:relative;border: 1px solid;margin: 10px 20px;"/>
								<span flex="50" class=" md-margin md-list-item-text" layout="column" style="position:relative;color:black;">
									<h3>{{ params.map[show].name }}</h3>
								</span>
								<div class="selectable fade" style="background:black; opacity:0;left:0;" ng-click="ctrl.loadMedia(show); params.flipped = !params.flipped;"></div>
							</md-list-item>
						</md-list>
					</md-content>
				</div>
				<div layout="row" flex>
					<div layout="row" class="center-vertical" style="margin: 0 30px 0 10px; padding-left: 20px; position: relative;">
						<div class="background-parent" layout="column" layout-align="center center" style="min-width:150px; max-width:150px; max-height: 400px; min-height: 400px; margin-bottom: 20px;">
							<div style=""></div>
							<md-button flex class="sq-button md-raised md-cornered" ng-class="{ 'ion-android-hand' : params.casting, 'ion-android-laptop' : !params.casting }" ng-click="ctrl.toggleCast()"></md-button>
							<md-button class="ion-arrow-up-b md-raised md-cornered" ng-click="ctrl.navC(1)"></md-button>
							<md-button class="ion-arrow-down-b md-raised md-cornered" ng-click="ctrl.navC(-1)" style="margin-bottom:50px;"></md-button>
							<md-button aria-label="pin to show" class="ion-pin md-raised md-cornered" ng-click="params.sticky = !params.sticky" ng-class="{ 'active' : params.sticky }"></md-button>
							<md-button class="ion-ios-star md-raised md-cornered" ng-click="params.newest = !params.newest; params.ordered = false;" ng-class="{ 'active' : params.newest }"></md-button>
							<md-button class="ion-ios-list md-raised md-cornered" ng-click="params.ordered = !params.ordered; params.newest = false;" ng-class="{ 'active' : params.ordered }"></md-button>
						</div>
						<div layout="column" style="margin-bottom: 15px;">
							<md-button style="min-height: 18px; min-width: 42px; max-width: 42px;" ng-repeat="vol in params.volSettings" class="md-raised md-cornered" ng-click="ctrl.setV(vol)" ng-class="{ 'active' : params.volume >= vol }"></md-button>
						</div>
					</div>
					<div flex="50" layout="column" layout-fill style="margin: 0 20px; padding-top: 20px;">
						<div class="center-vertical-parent" layout="row" style="font-weight:bold;">
							<div class="md-margin media-rating-wrapper" style="margin-right: 30px;">
								<div class="media-rating-huebox"></div>
								<span>{{ params.selected.imdbRating }}</span>
							</div>
							<h2>{{ params.selected.name }}</h2>
							<span style="margin-left:10px;">
								(<a target="_blank" ng-href="http://www.imdb.com/title/{{ params.selected.imdbId }}/">imdb</a>)
							</span>
						</div>
						<div layout="row" flex style="align-items: center; max-height: 80px;">
							<div offset="5" layout="row" class="center-vertical md-margin" style="margin-left: 10px;align-items: center;">
								<div layout="row"><ng-md-icon icon="group" class="md-margin"></ng-md-icon><span class="md-margin" style="width: 50px;">{{ params.selected.rated }}</span></div>
								<div layout="row"><ng-md-icon icon="av_timer" class="md-margin"></ng-md-icon><span class="md-margin" style="width: 50px;">{{ params.selected.runtime }}</span></div>
								<div layout="row"><ng-md-icon icon="date_range" class="md-margin"></ng-md-icon><span class="md-margin" style="width: 50px;">{{ params.selected.year }}</span></div>
								<div layout="row">
									<ng-md-icon icon="style" class="md-margin center-vertical"></ng-md-icon>
									<div layout="column" style="width: 50px;">
										<span ng-repeat="genre in params.selected.genre">{{ genre }}</span>
									</div>
								</div>
							</div>
						</div>
						<div flex layout="column" style="max-height: 160px;">
							<span flex class="md-margin" style="margin-bottom: 25px;">{{ params.selected.plot }}</span>
							<div ng-show="params.selected.type === 'tv'">
								<div layout="row" style="margin-bottom: 15px;" layout-align="start center">
									<div ng-show="params.selected.epMeta" class="md-margin media-rating-wrapper" style="font-weight:bold;margin-right: 30px;">
										<div class="media-rating-huebox"></div>
										<span>{{ params.selected.epMeta.imdbRating }}</span>
									</div>
									<h3 flex class="md-margin">{{ params.selected.pFormatted }}</h3>
								</div>
								<div ng-show="params.selected.epMeta" flex class="md-margin"> {{ params.selected.epMeta.Plot }} </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<md-slider-container style="height: 50px; width: 800px; margin: 20px auto 0 auto;">
				<md-slider flex min="0" max="100" ng-model="params.progress" ng-mouseup="ctrl.seekM()"></md-slider>
			</md-slider-container>
			<div layout="row" class="center-horizontal">
				<md-button class="cast-play md-fab md-raised ion-skip-backward" ng-click="ctrl.prevM()"></md-button>
				<md-button class="cast-play md-fab md-raised" ng-click="ctrl.playM()" ng-class="{  'ion-pause' : params.paused, 'ion-arrow-right-b' : !params.paused }"></md-button>
				<md-button class="cast-play md-fab md-raised ion-skip-forward" ng-click="ctrl.nextM()"></md-button>
			</div>
		</md-card>
	</div>
</div>