<div class="profile">
	<md-card class="content">
		<md-list-item layout="column" class="md-margin md-padding">
			<md-list-item layout-gt-sm="row" layout="column" class="profile-wrapper">
				<se-upload ngf-max-size="20MB"  ng-disabled="!user" file="ctrl.user.photo" callback="ctrl.imageUploaded(path)" id="{{ ctrl.user._id }}" class="selectable" style="height: 160px;width: 160px;position:relative;"></se-upload>
				<div offset="10" class="md-margin center-vertical-parent background-picker" layout="row"
					 style="background-image: url('{{ ctrl.backgrounds[ctrl.user.background] }}');">
					<span flex="50" class="icon ion-arrow-left-b selectable center-vertical" ng-click="ctrl.active = true; ctrl.incBackground(-1)"></span>
					<span flex="50" class="icon ion-arrow-right-b selectable center-vertical" ng-click="ctrl.active = true; ctrl.incBackground(1)"></span>
				</div>
			</md-list-item>
			<div class="md-list-item-text" layout="column" layout-align="start start" style="width:100%;margin-top: 30px;">
				<div layout-gt-sm="row" layout="column" flex style="width: 100%;">
					<md-input-container class="md-block" flex-gt-sm="40" flex="100" offset-gt-sm="5" offset="0">
						<label>Name</label>
						<input ng-model="ctrl.user.name" ng-change="ctrl.active = true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="40" flex="100" offset-gt-sm="10" offset="0">
						<label>Email</label>
						<input ng-model="ctrl.user.email" ng-change="ctrl.active = true">
					</md-input-container>
				</div>
				<div layout-gt-sm="row" layout="column" flex style="width: 100%;">
					<md-input-container class="md-block" flex-gt-sm="40" flex="100" offset-gt-sm="5" offset="0">
						<label>Address</label>
						<input ng-model="ctrl.user.address1" placeholder="Address" ng-change="ctrl.active = true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="40" flex="100" offset-gt-sm="10" offset="0">
						<label>Address 2</label>
						<input ng-model="ctrl.user.address2" placeholder="Address 2" ng-change="ctrl.active = true">
					</md-input-container>
				</div>
				<div layout-gt-sm="row" layout="column" flex offset-gt-sm="5" offset="0" style="width: 90%;">
					<md-input-container flex="25" class="md-block">
						<label>City</label>
						<input ng-model="ctrl.user.city" ng-change="ctrl.active = true">
					</md-input-container>
					<md-input-container flex="25" offset-gt-sm="5" offset="0" class="md-block">
						<label>State</label>
						<md-select ng-model="ctrl.user.state" ng-change="ctrl.active = true">
							<md-option ng-repeat="state in ctrl.states" value="{{state}}">
								{{state}}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex="25" offset-gt-sm="5" offset="0" class="md-block">
						<label>Postal Code</label>
						<input name="postalCode" ng-model="ctrl.user.zip" placeholder="12345"
							   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5" ng-change="ctrl.active = true">
					</md-input-container>
					<md-input-container flex="25" offset-gt-sm="5" offset="0" class="md-block">
						<label>CodeWars ID</label>
						<input name="codewars" ng-model="ctrl.user.codeID" placeholder="" ng-change="ctrl.active = true">
					</md-input-container>
				</div>
			</div>
		</md-list-item>
		<md-button layout-align="center center" class="md-raised footer md-margin" ng-class="{ 'active' : ctrl.active }"
				   ng-click="ctrl.saveClicked(ctrl.user);">Save</md-button>
	</md-card>
</div>