<div class="settings">
	<md-content class="content" style="min-height: 90vh; position: relative;">
		<md-card ng-if="ctrl.user.role >= 4">
			<md-subheader class="md-no-sticky">Register Users</md-subheader>
			<div layout="column" style="width: 80%; margin: 0 auto;" offset="10">
				<md-input-container class="md-block">
					<label>Email</label>
					<input ng-model="register.form.username" ng-change="register.active = true">
				</md-input-container>
				<md-input-container class="md-block">
					<label>Password</label>
					<input type="password" ng-model="register.form.password" ng-change="register.active = true">
				</md-input-container>
				<md-button style="width: 50%; margin-left:25%;" layout-align="center center" class="md-margin md-raised color blue-sky"
						   ng-class="{ 'active' : register.active }"
						   ng-click="register.submit(register.form.username, register.form.password, 'local'); register.active = false">Register</md-button>
			</div>
		</md-card>
		<md-card>
			<md-subheader class="md-no-sticky">Change Password</md-subheader>
			<div layout="column" style="width: 80%; margin: 0 auto;" offset="10">
				<md-input-container class="md-block">
					<label>Old Password</label>
					<input type="password" ng-model="password.form.oldPassword" ng-change="password.active = true">
				</md-input-container>
				<md-input-container class="md-block">
					<label>New Password</label>
					<input type="password" ng-model="password.form.newPassword" ng-change="password.active = true">
				</md-input-container>
				<md-input-container class="md-block">
					<label>Confirm Password</label>
					<input type="password" ng-model="password.form.newPasswordb" ng-change="password.active = true">
				</md-input-container>
				<md-button style="width: 50%; margin-left:25%;" layout-align="center center" class="md-margin md-raised color blue-sky"
						   ng-class="{ 'active' : password.active }"
						   ng-click="password.submit(password.form.oldPassword, password.form.newPassword, password.form.newPasswordb); password.active = false">Change</md-button>
			</div>
		</md-card>
	</md-content>
</div>