<div class="stock" layout-gt-sm="row" layout="column" style="padding:15px 0;">
	<div flex="40" layout="column">
		<h4>Meta</h4>
		<table style="width:100%; font-size: 12px;">
			<tr ng-repeat="(key, data) in ctrl.company.meta track by $index">
				<td style="width: 150px"><b>{{ key }}</b></td>
				<td style="text-align: right;padding-right: 150px;width: 90px">{{ data }}</td>
			</tr>
		</table>
		<h4>Snapshot</h4>
		<table style="width:100%; font-size: 12px;">
			<tr ng-repeat="(key, data) in ctrl.company.snapshot track by $index">
				<td style="width: 150px"><b>{{ key }}</b></td>
				<td style="text-align: right;padding-right: 150px;width: 90px">{{ data }}</td>
			</tr>
		</table>
	</div>
	<div flex="60" layout="column">
		<h4>Financials</h4>
		<table style="width:100%; font-size: 12px;">
			<tr ng-repeat="(key, data) in ctrl.company.info track by $index" ng-if="!_.contains(data, null)">
				<td style="width: 150px"><b>{{ key }}</b></td>
				<td ng-repeat="info in data track by $index" style="text-align: right;padding-right: 150px;width: 90px">{{ info }}</td>
			</tr>
		</table>
	</div>
</div>